<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/employeelist">CRED OPERATION</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/employeelist"
          >Show List Of Department</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/edit/0">Create Department</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
